			
<article id="post-130" class="post-130 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope>
	<div class="inside-article">
		
			<header class="entry-header">
							</header>

			
		<div class="entry-content" itemprop="text">
			<div id="pl-130"  class="panel-layout" ><div id="pg-130-0"  class="panel-grid panel-no-style" ><div id="pgc-130-0-0"  class="panel-grid-cell" ><div id="panel-130-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child" data-index="0" ><div class="panel-widget-style panel-widget-style-for-130-0-0-0" ><h3 class="widget-title">Home</h3><div class="textwidget"><p style="text-align: left;"><a title="Onze Geschiedenis" href="/over-ons/onze-geschiedenis/" target="_blank"><br /> </a><a href="/wp-content/uploads/2015/01/logo-classic.jpg"><img class="  wp-image-1150 alignleft" src="/wp-content/uploads/2015/01/logo-classic-256x300.jpg" alt="logo classic" width="83" height="98" /></a><strong><a title="Onze Geschiedenis" href="/over-ons/onze-geschiedenis/" target="_blank">Sinds 1945</a> voor <a title="Schoenen" href="http://onzevlag.com/retail/schoenen-2/" target="_blank">schoenen</a>, <a title="Handtassen" href="http://onzevlag.com/retail/fashion-handtassen/" target="_blank">tassen</a>, <a title="Reiskoffers, -tassen en accesoires" href="http://onzevlag.com/retail/reiskoffers-tassen-en-accesoires/" target="_blank">koffers</a> , <a title="Lederwaren op maat" href="http://onzevlag.com/retail/klein-lederwaren/" target="_blank">lederwaren</a>  en <a href="http://onzevlag.com/diversen/" target="_blank"> aanverwante producten</a> , van <a title="Lederwaren t.b.v. gewapende- en veiligheidsdiensten alsook de (dienstverlenende) Industrie" href="http://onzevlag.com/retail/lederen-tassen-en-riemen/" target="_blank">vervaardiging </a>,retail, <a href="http://onzevlag.com/groothandel/">groothandel </a>tot<a href="http://onzevlag.com/producten-diensten/schoenreparatie/" target="_blank"> reparatie</a>. Bekijk de foto albums via ons menu. Onze bescheiden zaak draagt kwaliteit, eerlijkheid en oprechtheid hoog in het vaandel. Niet makkelijk en voorwaar een uitdaging, maar altijd recht door zee.<br /> Bij ons geldt altijd: "Niet goed, geld terug ".</strong><br /><strong>Goede ervaring? Zeg het voort. Klachten? Vertel het ons. <a title="Veel gestelde vragen" href="/veel-gestelde-vragen/" target="_blank">Vragen</a>? Contact ons via <a href="mailto:info@onzevlag.com">info@onzevlag.com</a>.</strong></p>
<p style="text-align: left;"><strong>Onze Vlag de vakhandel.</strong><a href="/wp-content/uploads/2015/06/koopAVOND-KETI-KOTI-2015.jpg"><br /></a></p>
</div></div></div><div id="panel-130-0-0-1" class="so-panel widget widget_facebook-album" data-index="1" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-2" class="so-panel widget widget_facebook-album" data-index="2" ><h3 class="widget-title">click on link for full album  and scroll for all pics.</h3>OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-3" class="so-panel widget widget_facebook-album" data-index="3" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-4" class="so-panel widget widget_facebook-album" data-index="4" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-5" class="so-panel widget widget_facebook-album" data-index="5" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-6" class="so-panel widget widget_facebook-album" data-index="6" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-7" class="so-panel widget widget_facebook-album" data-index="7" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-8" class="so-panel widget widget_facebook-album" data-index="8" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-9" class="so-panel widget widget_facebook-album" data-index="9" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-10" class="so-panel widget widget_facebook-album" data-index="10" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-11" class="so-panel widget widget_facebook-album" data-index="11" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-12" class="so-panel widget widget_facebook-album" data-index="12" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div><div id="panel-130-0-0-13" class="so-panel widget widget_facebook-album" data-index="13" ><div class="panel-widget-style panel-widget-style-for-130-0-0-13" >OAuthException: (#200) Missing PermissionsSorry, there was an error loading the Facebook album, please refresh the page and try again.</div></div>
		<div id="panel-130-0-0-14" class="so-panel widget widget_recent-posts widget_recent_entries panel-last-child" data-index="14" ><div class="panel-widget-style panel-widget-style-for-130-0-0-14" >
		<h3 class="widget-title">NIEUWS. Click op link om album of item te openen.</h3>
		<ul>
											<li>
					<a href="/zweet-voeten-oma-weet-raad/">Zweet voeten ; oma weet raad</a>
											<span class="post-date">24/08/2016</span>
									</li>
											<li>
					<a href="/afmetingen-handbagage-aan-boord/">Afmetingen handbagage aan boord</a>
											<span class="post-date">24/05/2016</span>
									</li>
											<li>
					<a href="/voetverzorgingstips/">Voetverzorgingstips</a>
											<span class="post-date">11/03/2016</span>
									</li>
											<li>
					<a href="/hoe-bepaal-ik-mijn-schoenmaat/">Hoe bepaal ik mijn schoenmaat?</a>
											<span class="post-date">19/02/2016</span>
									</li>
											<li>
					<a href="/voet-feiten-leuk-om-te-weten/">Voet feiten, leuk om te weten.</a>
											<span class="post-date">03/02/2016</span>
									</li>
											<li>
					<a href="/wat-is-een-blaar-eigenlijk/">Wat is een blaar eigenlijk?</a>
											<span class="post-date">02/02/2016</span>
									</li>
											<li>
					<a href="/dit-wist-jij-vast-niet/">Dit wist jij vast niet ?</a>
											<span class="post-date">09/01/2016</span>
									</li>
											<li>
					<a href="/schoenen-kopen-zo-gaat-het-nooit-meer-mis/">Schoenen kopen: zo gaat het nooit (meer) mis!</a>
											<span class="post-date">05/12/2015</span>
									</li>
											<li>
					<a href="/women-and-shoes-a-love-story/">Women and Shoes: A Love Story</a>
											<span class="post-date">21/10/2015</span>
									</li>
											<li>
					<a href="/hoe-voorkom-en-behandel-je-blaren/">Hoe voorkom en behandel je blaren?</a>
											<span class="post-date">16/07/2015</span>
									</li>
											<li>
					<a href="/hiel-uit-de-schoen-tijdens-het-lopen/">Hiel uit de schoen tijdens het lopen ?</a>
											<span class="post-date">13/07/2015</span>
									</li>
											<li>
					<a href="/hielspoor-en-hielpijn/">Hielspoor en hielpijn</a>
											<span class="post-date">30/06/2015</span>
									</li>
											<li>
					<a href="/je-schoenen-een-maatje-groter-krijgen/">Je schoenen een maatje groter krijgen</a>
											<span class="post-date">28/06/2015</span>
									</li>
											<li>
					<a href="/zo-kan-je-leer-schoonmaken/">Zo kan je leer schoonmaken</a>
											<span class="post-date">27/06/2015</span>
									</li>
											<li>
					<a href="/httpwww-trendnova-nldit-is-waarom-jij-de-silicagel-zakjes-niet-moet-weggooien/">Dit is waarom jij de silicagel zakjes niet moet weggooien</a>
											<span class="post-date">24/06/2015</span>
									</li>
											<li>
					<a href="/huismiddeltje-tegen-zweetschoenen-en-voeten/">Huismiddeltje tegen Zweetschoenen en -voeten.</a>
											<span class="post-date">17/06/2015</span>
									</li>
											<li>
					<a href="/wereldwijd-een-toegestane-afmeting-handbagage/">Wereldwijd een toegestane afmeting handbagage</a>
											<span class="post-date">14/06/2015</span>
									</li>
											<li>
					<a href="/scholieren-song-festival-2015/">Scholieren Songfestival 2015</a>
											<span class="post-date">26/04/2015</span>
									</li>
											<li>
					<a href="/gevraagd-winkelverkopers-part-me/">Gevraagd</a>
											<span class="post-date">22/04/2015</span>
									</li>
											<li>
					<a href="/schoenen-onderhoud-en-weetjes/">Schoenen : Onderhoud en Weetjes.</a>
											<span class="post-date">10/04/2015</span>
									</li>
											<li>
					<a href="/suriname-fashion-week/">Suriname Fashion Week 2014 , designer RemKo ; Shoes by Onz.</a>
											<span class="post-date">06/04/2015</span>
									</li>
											<li>
					<a href="/gevraag-halfwas-schoenmaker/">Gevraagd : halfwas schoenmaker</a>
											<span class="post-date">03/03/2015</span>
									</li>
											<li>
					<a href="/sale-srd39-99-cotton-nepali-bags/">Sale on cotton nepali bags</a>
											<span class="post-date">26/02/2015</span>
									</li>
											<li>
					<a href="/shoe-sale-srd-49-50/">Shoe Sale Srd 49.50</a>
											<span class="post-date">22/02/2015</span>
									</li>
											<li>
					<a href="/click-here-for-more-pics-of-shoes/">Opruimigssale srd 29.99</a>
											<span class="post-date">21/02/2015</span>
									</li>
											<li>
					<a href="/greepje-uit-de-collectie-xmas-fashion-show-14-boutique-ikook/">Greepje uit de collectie Xmas Fashion Show &#8217;14 boutique &#8220;ikook&#8221;</a>
											<span class="post-date">19/02/2015</span>
									</li>
											<li>
					<a href="/remko-and-onze-shoes/">RemKo and ONZE shoes</a>
											<span class="post-date">03/10/2014</span>
									</li>
											<li>
					<a href="/shoes-by-onz-2/">MOEDERDAGSHOW boutique IKOOK 2014; Shoes by Onz&#8230;.</a>
											<span class="post-date">21/05/2014</span>
									</li>
					</ul>

		</div></div></div></div><div id="pg-130-1"  class="panel-grid panel-no-style" ><div id="pgc-130-1-0"  class="panel-grid-cell panel-grid-cell-empty" ></div></div></div>		</div>

			</div>
</article>
