
<article id="post-576" class="post-576 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope="">
	<div class="inside-article">
		
			<header class="entry-header">
				<h1 class="entry-title" itemprop="headline">Veel gestelde vragen</h1>			</header>

			
		<div class="entry-content" itemprop="text">
			<p><img loading="lazy" class=" wp-image-1090 alignleft" src="/wp-content/uploads/2015/02/onze-info-300x225.jpg" alt="onze info" width="239" height="179" srcset="/wp-content/uploads/2015/02/onze-info-300x225.jpg 300w, /wp-content/uploads/2015/02/onze-info.jpg 878w" sizes="(max-width: 239px) 100vw, 239px">ONZE &nbsp;<a href="http://onzevlag.com/retail/schoenen-2/heren/" target="_blank">herenschoenen</a> komen veelal in de <strong>maten-selectie 6 t/m13</strong> &nbsp;Beschikbaarheid van de “juiste” maat hangt af van het moment en de verkopen.Voor <strong>prijzen</strong> ga naar onze <a href="https://www.facebook.com/onzevlagnv" target="_blank">facebookpage</a> . vervolgens naar <a href="https://www.facebook.com/onzevlagnv/photos_stream?tab=photos_albums" target="_blank">“photo-albums” </a>&nbsp;. Via de photo-albums &nbsp;kies jij een collectie of album uit . Open het album .Click/open de foto. Naast de foto staan de prijzen.</p>
<p>ONZE <a href="http://onzevlag.com/retail/schoenen-2/dames-2/" target="_blank">damesschoenen</a> komen standaard&nbsp;&nbsp; in de <strong>maten-selectie 5 t/m 10 </strong>( soms 6 t/m 11). Wij zijn hierbij volkomen afhankelijk van onze leveranciers. Beschikbaarheid van de “juiste” maat , in het “juiste” model hangt af van het moment en de verkopen.&nbsp;Voor <strong>prijzen</strong> ga naar onze <a href="https://www.facebook.com/onzevlagnv" target="_blank">facebookpage</a> . vervolgens naar <a href="https://www.facebook.com/onzevlagnv/photos_stream?tab=photos_albums" target="_blank">“photo-albums” </a>&nbsp;. Via de photo-albums &nbsp;kies jij een collectie of album uit . Open het album .Click/open de foto. Naast de foto staan de prijzen.</p>
<p>Ja , we hebben ook <strong>XXL maatje <a href="http://onzevlag.com/retail/lederen-tassen-en-riemen/" target="_blank">lederen riemen</a></strong>. Indien die niet passen , maken we er een op maat. Dat kan met jouw eigen gesp of met een &nbsp;uit onze collectie. Kleuren leder : zwart , donkerbruin, lichtbruin, naturel bruin en wit.&nbsp;Prijzen van de standaard lengte riemen aan de rekken , beginnen bij SRD 49.50 en lopen op tot 129.50. Extra lange riemen ( XL, XXl. XXXL etc. welke op bestelling worden gemaakt ; hangen de prijzen af van de lengte alsook breedte van de te bestellen riem )</p>
<p>SCHOENEN via onze FB-pagina of onze webpagen BESTELLEN kan &nbsp;helaas nog niet. Wij zijn een “over-the-counter retailer” &nbsp;en hebben per model alle maten , maar dan in beperkte mate. E.e.a. om ons schoeisel exclusief te houden. Bestellingen doen wij niet, maar als jij aangeeft welk model in welke maat , dan kunnen wij die apart leggen . Welliswaar voor een beperkte tijd, meestal 48u. Het gaat namelijk heel erg hard. De schoen kan dan afgehaald en afgerekend worden. Advies ; ALTIJD eerst de schoen passen alvorens te kopen.</p>
<p><strong>NIET GOED , GELD TERUG</strong> , die waarborg krijg je van ons indien je bij ons koopt.</p>
<p>De <strong>GARANTIE</strong> op kwaliteit van de door ons <a href="http://onzevlag.com/retail/lederwaren-op-maat/" target="_blank"><strong>zelfvervaarigde lederwaren</strong>&nbsp;</a> beslaat&nbsp;een (1) jaar.</p>
<p><strong>WIST JE&nbsp;&nbsp; :</strong></p>
<ul>
<li>dat al onze <a href="http://onzevlag.com/retail/schoenen-2/heren/" target="_blank">schoenen</a>, <a href="http://onzevlag.com/retail/fashion-handtassen/" target="_blank">tassen</a>, <a href="http://onzevlag.com/retail/reiskoffers-tassen-en-accesoires/" target="_blank">koffers,</a> <a href="http://onzevlag.com/retail/klein-lederwaren/" target="_blank">lederwaren</a> <strong>exclusief en alleen</strong> bij OnZ verkrijgbaar zijn.</li>
<li>&nbsp;dat onze prijzen lager &nbsp;liggen &nbsp;en onze kwaliteit beter is.</li>
<li>&nbsp;dat <a href="http://onzevlag.com/over-ons/routebeschrijving/" target="_blank">parkeren</a> in het centrum bovendien reuze meevalt.</li>
<li>&nbsp;dat alle prijzen staan vermeldt bij de foto’s in de photo-albums op onze <a href="https://www.facebook.com/onzevlagnv/photos_stream?tab=photos_albums" target="_blank">facebook pagina</a>.</li>
<li>&nbsp;dat de prijzen van de riemen starten bij SRD 39.50 en lopen op . E.e.a. is afhankelijk van de breedte van de riem en het model van de gesp. Onze lederen riemen en alle andere door ons vervaardigde lederen waren gaan niet kapot en kunnen we derhalve met trots garantie hierop bieden.</li>
<li>&nbsp;dat <a href="http://onzevlag.com/producten-diensten/schoenreparatie/" target="_blank"><strong>(schoen)reparatie</strong></a> minimaal 3 dagen duurt, oplopend tot 2 weken.</li>
<li>&nbsp;dat de <strong>levertijd</strong> op<a href="http://onzevlag.com/retail/lederwaren-op-maat/" target="_blank"> custom-made lederwaren</a> ca. 1-2 weken bedraagt.</li>
</ul>
<p><strong>Waarschuwend geluid !&nbsp;</strong>Mocht jij toch online denken te kopen : Let dan op dat de verkoper aan het volgende voldoet :</p>
<ul>
<li>Locaal KKF registratie# (kamer van koophandel ),</li>
<li>Een vast en fysiek, duidelijk omschreven adres heeft welke makkelijk na te trekken is,</li>
<li>Eeen vaste telefoon aansluiting (dus niet alleen een mobile nummer),</li>
<li>een emailadres met eigen domeinnaam van het bedrijf (dus bijvoorbeeld geen <del>onzvlagnv@HOTMAIL.com</del> , maar onzevlagnv@onzevlag.com ),</li>
<li>niet alleen maar een facebook of dergelijk profiel of pagina, maar ook een EIGEN deugdelijke WEBPAGE dus niet alleen www.facebook.com/onzevlagnv , maar OOK www.onzevlag.com,</li>
<li>Vermelding van het bedrijf onder bedrijfsnaam in de telefoongids met kloppend adres.</li>
</ul>
		</div>

			</div>
</article>
