<html lang="nl-NL" class="mobile-menu-open"><head>
	<meta charset="UTF-8">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Veel gestelde vragen – Onze Vlag N.V.</title>
<meta name="robots" content="max-image-preview:large">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Onze Vlag N.V. » Feed" href="http://onzevlag.com/language/nl/feed/">
<link rel="alternate" type="application/rss+xml" title="Onze Vlag N.V. » Reactiesfeed" href="http://onzevlag.com/language/nl/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Onze Vlag N.V. » Veel gestelde vragen Reactiesfeed" href="/veel-gestelde-vragen/feed/">
		<script>
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.1"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="http://onzevlag.com/wp-includes/js/wp-emoji-release.min.js?ver=5.8.1" type="text/javascript" defer=""></script>
		<style>
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
			<style type="text/css">			.fts-facebook-add-more-posts-notice {
				display: none !important;
			}

			.fts-jal-single-fb-post .fts-jal-fb-user-name {
				color:  !important;
			}

			
		</style>
		<link rel="stylesheet" id="wp-block-library-css" href="http://onzevlag.com/wp-includes/css/dist/block-library/style.min.css?ver=5.8.1" media="all">
<link rel="stylesheet" id="fts-feeds-css" href="http://onzevlag.com/wp-content/plugins/feed-them-social/feeds/css/styles.css?ver=2.9.4" media="">
<link rel="stylesheet" id="generate-style-grid-css" href="http://onzevlag.com/wp-content/themes/generatepress/assets/css/unsemantic-grid.min.css?ver=3.0.3" media="all">
<link rel="stylesheet" id="generate-style-css" href="http://onzevlag.com/wp-content/themes/generatepress/assets/css/style.min.css?ver=3.0.3" media="all">
<style id="generate-style-inline-css">
body{background-color:#000000;color:#3a3a3a;}a{color:#003cf2;}a:visited{color:#6264ef;}a:hover, a:focus, a:active{color:#009bf4;}body .grid-container{max-width:1185px;}.wp-block-group__inner-container{max-width:1185px;margin-left:auto;margin-right:auto;}.navigation-search{position:absolute;left:-99999px;pointer-events:none;visibility:hidden;z-index:20;width:100%;top:0;transition:opacity 100ms ease-in-out;opacity:0;}.navigation-search.nav-search-active{left:0;right:0;pointer-events:auto;visibility:visible;opacity:1;}.navigation-search input[type="search"]{outline:0;border:0;vertical-align:bottom;line-height:1;opacity:0.9;width:100%;z-index:20;border-radius:0;-webkit-appearance:none;height:60px;}.navigation-search input::-ms-clear{display:none;width:0;height:0;}.navigation-search input::-ms-reveal{display:none;width:0;height:0;}.navigation-search input::-webkit-search-decoration, .navigation-search input::-webkit-search-cancel-button, .navigation-search input::-webkit-search-results-button, .navigation-search input::-webkit-search-results-decoration{display:none;}.main-navigation li.search-item{z-index:21;}li.search-item.active{transition:opacity 100ms ease-in-out;}.nav-left-sidebar .main-navigation li.search-item.active,.nav-right-sidebar .main-navigation li.search-item.active{width:auto;display:inline-block;float:right;}.gen-sidebar-nav .navigation-search{top:auto;bottom:0;}body, button, input, select, textarea{font-family:Arial, Helvetica, sans-serif;}body{line-height:1.5;}.entry-content > [class*="wp-block-"]:not(:last-child){margin-bottom:1.5em;}.main-title{font-size:45px;}.main-navigation .main-nav ul ul li a{font-size:14px;}.sidebar .widget, .footer-widgets .widget{font-size:17px;}h1{font-weight:300;font-size:40px;}h2{font-weight:300;font-size:30px;}h3{font-size:20px;}h4{font-size:inherit;}h5{font-size:inherit;}@media (max-width:768px){.main-title{font-size:30px;}h1{font-size:30px;}h2{font-size:25px;}}.top-bar{background-color:#636363;color:#ffffff;}.top-bar a{color:#ffffff;}.top-bar a:hover{color:#303030;}.site-header{background-color:#ffffff;color:#3a3a3a;}.site-header a{color:#3a3a3a;}.main-title a,.main-title a:hover{color:#222222;}.site-description{color:#757575;}.main-navigation,.main-navigation ul ul{background-color:#222222;}.main-navigation .main-nav ul li a,.menu-toggle, .main-navigation .menu-bar-items{color:#ffffff;}.main-navigation .main-nav ul li:hover > a,.main-navigation .main-nav ul li:focus > a, .main-navigation .main-nav ul li.sfHover > a, .main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a{color:#ffffff;background-color:#3f3f3f;}button.menu-toggle:hover,button.menu-toggle:focus,.main-navigation .mobile-bar-items a,.main-navigation .mobile-bar-items a:hover,.main-navigation .mobile-bar-items a:focus{color:#ffffff;}.main-navigation .main-nav ul li[class*="current-menu-"] > a{color:#ffffff;background-color:#3f3f3f;}.main-navigation .main-nav ul li[class*="current-menu-"] > a:hover,.main-navigation .main-nav ul li[class*="current-menu-"].sfHover > a{color:#ffffff;background-color:#3f3f3f;}.navigation-search input[type="search"],.navigation-search input[type="search"]:active, .navigation-search input[type="search"]:focus, .main-navigation .main-nav ul li.search-item.active > a, .main-navigation .menu-bar-items .search-item.active > a{color:#ffffff;background-color:#3f3f3f;}.main-navigation ul ul{background-color:#3f3f3f;}.main-navigation .main-nav ul ul li a{color:#ffffff;}.main-navigation .main-nav ul ul li:hover > a,.main-navigation .main-nav ul ul li:focus > a,.main-navigation .main-nav ul ul li.sfHover > a{color:#ffffff;background-color:#4f4f4f;}.main-navigation .main-nav ul ul li[class*="current-menu-"] > a{color:#ffffff;background-color:#4f4f4f;}.main-navigation .main-nav ul ul li[class*="current-menu-"] > a:hover,.main-navigation .main-nav ul ul li[class*="current-menu-"].sfHover > a{color:#ffffff;background-color:#4f4f4f;}.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .one-container .container, .separate-containers .paging-navigation, .inside-page-header{background-color:#ffffff;}.entry-meta{color:#595959;}.entry-meta a{color:#595959;}.entry-meta a:hover{color:#1e73be;}.sidebar .widget{background-color:#ffffff;}.sidebar .widget .widget-title{color:#000000;}.footer-widgets{background-color:#ffffff;}.footer-widgets .widget-title{color:#000000;}.site-info{color:#ffffff;background-color:#222222;}.site-info a{color:#ffffff;}.site-info a:hover{color:#606060;}.footer-bar .widget_nav_menu .current-menu-item a{color:#606060;}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="tel"],input[type="number"],textarea,select{color:#666666;background-color:#fafafa;border-color:#cccccc;}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="number"]:focus,textarea:focus,select:focus{color:#666666;background-color:#ffffff;border-color:#bfbfbf;}button,html input[type="button"],input[type="reset"],input[type="submit"],a.button,a.wp-block-button__link:not(.has-background){color:#ffffff;background-color:#666666;}button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,a.button:hover,button:focus,html input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,a.button:focus,a.wp-block-button__link:not(.has-background):active,a.wp-block-button__link:not(.has-background):focus,a.wp-block-button__link:not(.has-background):hover{color:#ffffff;background-color:#3f3f3f;}a.generate-back-to-top{background-color:rgba( 0,0,0,0.4 );color:#ffffff;}a.generate-back-to-top:hover,a.generate-back-to-top:focus{background-color:rgba( 0,0,0,0.6 );color:#ffffff;}@media (max-width:768px){.main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a{background:none;color:#ffffff;}}.inside-top-bar{padding:10px;}.inside-header{padding:40px;}.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull{margin-left:-40px;width:calc(100% + 80px);max-width:calc(100% + 80px);}.rtl .menu-item-has-children .dropdown-menu-toggle{padding-left:20px;}.rtl .main-navigation .main-nav ul li.menu-item-has-children > a{padding-right:20px;}.site-info{padding:20px;}@media (max-width:768px){.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header, .wp-block-group__inner-container{padding:30px;}.site-info{padding-right:10px;padding-left:10px;}.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull{margin-left:-30px;width:calc(100% + 60px);max-width:calc(100% + 60px);}}.one-container .sidebar .widget{padding:0px;}@media (max-width:768px){.main-navigation .menu-toggle,.main-navigation .mobile-bar-items,.sidebar-nav-mobile:not(#sticky-placeholder){display:block;}.main-navigation ul,.gen-sidebar-nav{display:none;}[class*="nav-float-"] .site-header .inside-header > *{float:none;clear:both;}}
</style>
<link rel="stylesheet" id="generate-mobile-style-css" href="http://onzevlag.com/wp-content/themes/generatepress/assets/css/mobile.min.css?ver=3.0.3" media="all">
<link rel="stylesheet" id="generate-font-icons-css" href="http://onzevlag.com/wp-content/themes/generatepress/assets/css/components/font-icons.min.css?ver=3.0.3" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://onzevlag.com/wp-content/themes/generatepress/assets/css/components/font-awesome.min.css?ver=4.7" media="all">
<script src="http://onzevlag.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
<script src="http://onzevlag.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
<script id="fts_clear_cache_script-js-extra">
var ftsAjax = {"ajaxurl":"http:\/\/onzevlag.com\/wp-admin\/admin-ajax.php"};
var ftsAjax = {"ajaxurl":"http:\/\/onzevlag.com\/wp-admin\/admin-ajax.php"};
</script>
<script src="http://onzevlag.com/wp-content/plugins/feed-them-social/admin/js/admin.js?ver=2.9.4" id="fts_clear_cache_script-js"></script>
<script src="http://onzevlag.com/wp-content/plugins/feed-them-social/feeds/js/powered-by.js?ver=2.9.4" id="fts_powered_by_js-js"></script>
<script src="http://onzevlag.com/wp-content/plugins/feed-them-social/feeds/js/fts-global.js?ver=2.9.4" id="fts-global-js"></script>
<link rel="https://api.w.org/" href="http://onzevlag.com/wp-json/"><link rel="alternate" type="application/json" href="http://onzevlag.com/wp-json/wp/v2/pages/576"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://onzevlag.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://onzevlag.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 5.8.1">
<link rel="canonical" href="/veel-gestelde-vragen/">
<link rel="shortlink" href="http://onzevlag.com/?p=576">
<link rel="alternate" type="application/json+oembed" href="http://onzevlag.com/wp-json/oembed/1.0/embed?url=%2Fveel-gestelde-vragen%2F">
<link rel="alternate" type="text/xml+oembed" href="http://onzevlag.com/wp-json/oembed/1.0/embed?url=%2Fveel-gestelde-vragen%2F&amp;format=xml">
<link rel="pingback" href="http://onzevlag.com/xmlrpc.php">
<meta name="viewport" content="width=device-width, initial-scale=1">		<style type="text/css">			.fts-facebook-add-more-posts-notice {
				display: none !important;
			}

			.fts-jal-single-fb-post .fts-jal-fb-user-name {
				color:  !important;
			}

			
		</style>
		</head>

<body class="page-template-default page page-id-576 wp-custom-logo wp-embed-responsive right-sidebar nav-below-header separate-containers contained-header active-footer-widgets-3 nav-search-enabled nav-aligned-center header-aligned-center dropdown-hover fts-powered-by-text-popup using-mouse" itemtype="https://schema.org/WebPage" itemscope="">
	<a class="screen-reader-text skip-link" href="#content" title="Spring naar inhoud">Spring naar inhoud</a>		<header id="masthead" class="site-header grid-container grid-parent" itemtype="https://schema.org/WPHeader" itemscope="">
			<div class="inside-header grid-container grid-parent">
				<div class="site-logo">
					<a href="http://onzevlag.com/home/" title="Onze Vlag N.V." rel="home">
						<img class="header-image is-logo-image" alt="Onze Vlag N.V." src="http://onzevlag.com/wp-content/uploads/2015/07/banner-juli-2015-webpage2.jpg" title="Onze Vlag N.V.">
					</a>
				</div>			</div>
		</header>
				<nav id="site-navigation" class="main-navigation grid-container grid-parent sub-menu-right toggled" itemtype="https://schema.org/SiteNavigationElement" itemscope="">
			<div class="inside-navigation grid-container grid-parent">
				<form method="get" class="search-form navigation-search" action="http://onzevlag.com/home/">
					<input type="search" class="search-field" value="" name="s" title="Zoeken">
				</form>		<div class="mobile-bar-items">
						<span class="search-item">
				<a aria-label="Open zoekbalk" href="#">
									</a>
			</span>
		</div>
						<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="true">
					<span class="mobile-menu">Menu</span>				</button>
				<div id="primary-menu" class="main-nav"><ul id="menu-menu_main_nl" class=" menu sf-menu" aria-hidden="false"><li id="menu-item-1376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1376"><a title="Welkom" href="http://onzevlag.com/home/">Home</a></li>
<li id="menu-item-1347" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1347"><a href="/over-ons/">Over Ons<span role="button" class="dropdown-menu-toggle" tabindex="0" aria-expanded="false" aria-label="Open het sub-menu"></span></a>
<ul class="sub-menu">
	<li id="menu-item-1378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1378"><a href="/over-ons/routebeschrijving/">Routebeschrijving</a></li>
	<li id="menu-item-1377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1377"><a href="/over-ons/openingstijden/">Openingstijden</a></li>
	<li id="menu-item-1348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1348"><a href="/over-ons/de-winkel/">De Winkel</a></li>
	<li id="menu-item-1349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1349"><a href="/over-ons/onze-geschiedenis/">Onze Geschiedenis</a></li>
</ul>
</li>
<li id="menu-item-1362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1362"><a href="/producten-diensten/">Producten &amp; Diensten<span role="button" class="dropdown-menu-toggle" tabindex="0" aria-expanded="false" aria-label="Open het sub-menu"></span></a>
<ul class="sub-menu">
	<li id="menu-item-1350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1350"><a href="/retail/">Retail<span role="button" class="dropdown-menu-toggle" tabindex="0" aria-expanded="false" aria-label="Open het sub-menu"></span></a>
	<ul class="sub-menu">
		<li id="menu-item-1352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1352"><a href="/retail/schoenen-2/">Schoenen<span role="button" class="dropdown-menu-toggle" tabindex="0" aria-expanded="false" aria-label="Open het sub-menu"></span></a>
		<ul class="sub-menu">
			<li id="menu-item-1386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1386"><a href="/retail/schoenen-2/dames-2/">Dames</a></li>
			<li id="menu-item-1372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1372"><a href="/retail/schoenen-2/heren/">Heren</a></li>
			<li id="menu-item-1389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1389"><a href="/retail/schoenen-2/sale-srd49-50/">Srd19.99 SALE</a></li>
			<li id="menu-item-1917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1917"><a href="/sale-srd-79-99/">Sale SRD 79.99</a></li>
			<li id="menu-item-1356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1356"><a href="/retail/veiligheidsschoeisel/">Veiligheidsschoeisel</a></li>
		</ul>
</li>
		<li id="menu-item-1351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1351"><a href="/retail/fashion-handtassen/">Handtassen</a></li>
		<li id="menu-item-1373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1373"><a href="/retail/lederen-tassen-en-riemen/">Lederen Tassen &amp; Riemen</a></li>
		<li id="menu-item-1354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1354"><a href="/retail/klein-lederwaren/">Klein lederwaren</a></li>
		<li id="menu-item-1355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1355"><a href="/retail/lederwaren-op-maat/">Lederwaren op maat</a></li>
		<li id="menu-item-1353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1353"><a href="/reiskoffers-tassen-en-accesoires/">Reiskoffers, – Tassen &amp; Accesoires</a></li>
		<li id="menu-item-1358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1358"><a href="/retail/laptoptassen-attachetassen-2/">Laptoptassen &amp; Attachetassen</a></li>
		<li id="menu-item-1357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1357"><a href="/retail/semi-orthopedie-en-ortheses/">Semi-orthopedie &amp; Ortheses</a></li>
		<li id="menu-item-1359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1359"><a href="/groothandel/gespen-fournituren-2/">Gespen &amp; Fournituren</a></li>
		<li id="menu-item-1485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1485"><a href="/diversen/">Diversen</a></li>
	</ul>
</li>
	<li id="menu-item-1361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1361"><a href="/groothandel/">Groothandel<span role="button" class="dropdown-menu-toggle" tabindex="0" aria-expanded="false" aria-label="Open het sub-menu"></span></a>
	<ul class="sub-menu">
		<li id="menu-item-1394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1394"><a href="/retail/lederwaren-op-maat/lederwaren-op-maat-2/">Lederwaren t.b.v. gewapende diensten / (dienstverl.) Industrie</a></li>
		<li id="menu-item-1379" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1379"><a href="/retail/veiligheidsschoeisel/">Veiligheidsschoeisel</a></li>
	</ul>
</li>
	<li id="menu-item-1371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1371"><a href="/producten-diensten/schoenreparatie/">Schoenreparatie</a></li>
	<li id="menu-item-1381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1381"><a href="/producten-diensten/leder/">Leder</a></li>
</ul>
</li>
<li id="menu-item-1374" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-576 current_page_item menu-item-1374"><a href="/veel-gestelde-vragen/" aria-current="page">Veel gestelde vragen</a></li>
<li id="menu-item-1363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1363"><a href="/nieuws-2/">Nieuws</a></li>
<li id="menu-item-1364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1364"><a href="/contact/">Contact</a></li>
<li class="search-item menu-item-align-right"><a aria-label="Open zoekbalk" href="#"></a></li></ul></div>			</div>
		</nav>
		
	<div id="page" class="site grid-container container hfeed grid-parent">
				<div id="content" class="site-content">
			
	<div id="primary" class="content-area grid-parent mobile-grid-100 grid-75 tablet-grid-75">
		<main id="main" class="site-main">
		<%=yield%>	
		</main>
	</div>

	<div id="right-sidebar" class="widget-area sidebar is-right-sidebar grid-25 tablet-grid-25 grid-parent" itemtype="https://schema.org/WPSideBar" itemscope="">
	<div class="inside-right-sidebar">
		<aside id="search-2" class="widget inner-padding widget_search"><form method="get" class="search-form" action="http://onzevlag.com/language/nl/">
	<label>
		<span class="screen-reader-text">Zoek naar:</span>
		<input type="search" class="search-field" placeholder="Zoeken …" value="" name="s" title="Zoek naar:">
	</label>
	<input type="submit" class="search-submit" value="Zoeken"></form>
</aside><aside id="nav_menu-4" class="widget inner-padding widget_nav_menu"><h2 class="widget-title">Overzicht/Menu </h2><div class="menu-menu_main_nl-container"><ul id="menu-menu_main_nl-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1376"><a title="Welkom" href="http://onzevlag.com/home/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1347"><a href="/over-ons/">Over Ons</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1378"><a href="/over-ons/routebeschrijving/">Routebeschrijving</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1377"><a href="/over-ons/openingstijden/">Openingstijden</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1348"><a href="/over-ons/de-winkel/">De Winkel</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1349"><a href="/over-ons/onze-geschiedenis/">Onze Geschiedenis</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1362"><a href="/producten-diensten/">Producten &amp; Diensten</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1350"><a href="/retail/">Retail</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1352"><a href="/retail/schoenen-2/">Schoenen</a>
		<ul class="sub-menu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1386"><a href="/retail/schoenen-2/dames-2/">Dames</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1372"><a href="/retail/schoenen-2/heren/">Heren</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1389"><a href="/retail/schoenen-2/sale-srd49-50/">Srd19.99 SALE</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1917"><a href="/sale-srd-79-99/">Sale SRD 79.99</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1356"><a href="/retail/veiligheidsschoeisel/">Veiligheidsschoeisel</a></li>
		</ul>
</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1351"><a href="/retail/fashion-handtassen/">Handtassen</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1373"><a href="/retail/lederen-tassen-en-riemen/">Lederen Tassen &amp; Riemen</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1354"><a href="/retail/klein-lederwaren/">Klein lederwaren</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1355"><a href="/retail/lederwaren-op-maat/">Lederwaren op maat</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1353"><a href="/reiskoffers-tassen-en-accesoires/">Reiskoffers, – Tassen &amp; Accesoires</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1358"><a href="/retail/laptoptassen-attachetassen-2/">Laptoptassen &amp; Attachetassen</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1357"><a href="/retail/semi-orthopedie-en-ortheses/">Semi-orthopedie &amp; Ortheses</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1359"><a href="/groothandel/gespen-fournituren-2/">Gespen &amp; Fournituren</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1485"><a href="/diversen/">Diversen</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1361"><a href="/groothandel/">Groothandel</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1394"><a href="/retail/lederwaren-op-maat/lederwaren-op-maat-2/">Lederwaren t.b.v. gewapende diensten / (dienstverl.) Industrie</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1379"><a href="/retail/veiligheidsschoeisel/">Veiligheidsschoeisel</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1371"><a href="/producten-diensten/schoenreparatie/">Schoenreparatie</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1381"><a href="/producten-diensten/leder/">Leder</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-576 current_page_item menu-item-1374"><a href="/veel-gestelde-vragen/" aria-current="page">Veel gestelde vragen</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1363"><a href="/nieuws-2/">Nieuws</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1364"><a href="/contact/">Contact</a></li>
</ul></div></aside><aside id="black-studio-tinymce-12" class="widget inner-padding widget_black_studio_tinymce"><h2 class="widget-title">Openingstijden.</h2><div class="textwidget"><p><a href="/wp-content/uploads/2015/02/open.gif"><img class=" wp-image-1037 alignleft" src="http://onzevlag.com/wp-content/uploads/2015/02/open-300x158.gif" alt="open" width="219" height="115"></a><br>
Mon - Fri: &nbsp; 08:00 - 16.30<br>
Sat: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;08:00 - 13:00</p>
<p>Voor extra openingsuren bij hoogtij-dagen , volg onze berichten.&nbsp;Graag tot ziens in onze zaak.</p>
</div></aside><aside id="black-studio-tinymce-10" class="widget inner-padding widget_black_studio_tinymce"><h2 class="widget-title">Visit &amp; Like Onz.</h2><div class="textwidget"><p><a href="https://www.facebook.com/onzevlagnv" target="_blank"><img class="  wp-image-1249 alignleft" src="http://onzevlag.com/wp-content/uploads/2015/03/facebook-icon.png" alt="facebook-icon" width="168" height="168"></a></p>
</div></aside><aside id="black-studio-tinymce-15" class="widget inner-padding widget_black_studio_tinymce"><div class="textwidget"><p style="text-align: left;"><a href="/wp-content/uploads/2016/07/ad-retailers-onze-vlag.jpg" rel="attachment wp-att-1941"><img class="alignnone wp-image-1941" src="http://onzevlag.com/wp-content/uploads/2016/07/ad-retailers-onze-vlag-300x300.jpg" alt="ad retailers-onze vlag" width="285" height="285"></a><a href="/wp-content/uploads/2015/07/gala-heelslips-Copy.jpg" rel="attachment wp-att-1781"><img class="alignnone wp-image-1781" src="http://onzevlag.com/wp-content/uploads/2015/07/gala-heelslips-Copy.jpg" alt="gala heelslips - Copy" width="203" height="203"></a><a href="/wp-content/uploads/2015/05/sale-koffer3.jpg"><br>
</a><a href="/wp-content/uploads/2015/05/weekly-deal1.jpg"><br>
</a>&nbsp;&nbsp;<a href="/wp-content/uploads/2015/05/kofferriemen.jpg"><img class="alignnone wp-image-1592" src="http://onzevlag.com/wp-content/uploads/2015/05/kofferriemen-229x300.jpg" alt="kofferriemen" width="169" height="221"></a><a href="/wp-content/uploads/2016/01/just-arrived-new-coll-onderweg.jpg" rel="attachment wp-att-1868"><img class="alignnone wp-image-1868" src="http://onzevlag.com/wp-content/uploads/2016/01/just-arrived-new-coll-onderweg-300x234.jpg" alt="just arrived new coll onderweg" width="279" height="217"></a><a href="/wp-content/uploads/2016/07/colage-voorgevele-bezuiniging.jpg" rel="attachment wp-att-1942"><img class="alignnone size-medium wp-image-1942" src="http://onzevlag.com/wp-content/uploads/2016/07/colage-voorgevele-bezuiniging-300x264.jpg" alt="colage voorgevele bezuiniging" width="300" height="264"></a><a href="/wp-content/uploads/2015/01/verzameling.jpg" rel="attachment wp-att-1221"><img class="alignnone size-medium wp-image-1221" src="http://onzevlag.com/wp-content/uploads/2015/01/verzameling-300x180.jpg" alt="verzameling" width="300" height="180"></a><a href="/wp-content/uploads/2016/01/just-arrived.jpg" rel="attachment wp-att-1869"><img class="alignnone wp-image-1869" src="http://onzevlag.com/wp-content/uploads/2016/01/just-arrived-300x234.jpg" alt="just arrived" width="320" height="250"></a></p>
<p style="text-align: left;"><a href="/wp-content/uploads/2016/03/big-sizes-leather-belts.jpg" rel="attachment wp-att-1907"><img class="alignnone size-medium wp-image-1907" src="http://onzevlag.com/wp-content/uploads/2016/03/big-sizes-leather-belts-300x286.jpg" alt="big sizes leather belts" width="300" height="286"></a><a href="/wp-content/uploads/2016/03/ove-logo-in-nat-br-leder.jpg" rel="attachment wp-att-1905"><img class="alignnone size-medium wp-image-1905" src="http://onzevlag.com/wp-content/uploads/2016/03/ove-logo-in-nat-br-leder-300x243.jpg" alt="ove logo in nat br leder" width="300" height="243"></a><a href="/wp-content/uploads/2016/03/new-collection-wallets-oct-2015.jpg" rel="attachment wp-att-1904"><img class="alignnone size-medium wp-image-1904" src="http://onzevlag.com/wp-content/uploads/2016/03/new-collection-wallets-oct-2015-300x212.jpg" alt="new collection wallets oct 2015" width="300" height="212"></a></p>
</div></aside>	</div>
</div>

	</div>
</div>


<div class="site-footer grid-container grid-parent">
				<div id="footer-widgets" class="site footer-widgets">
				<div class="footer-widgets-container grid-container grid-parent">
					<div class="inside-footer-widgets">
							<div class="footer-widget-1 grid-parent grid-33 tablet-grid-50 mobile-grid-100">
		<aside id="black-studio-tinymce-13" class="widget inner-padding widget_black_studio_tinymce"><h2 class="widget-title">Over Onz.</h2><div class="textwidget"><header class="entry-header">
<h1 class="entry-title"><img class=" wp-image-157  alignleft" src="http://onzevlag.greymatter-consulting.com/wp-content/uploads/2015/01/founder.jpg" alt="founder" width="196" height="196"></h1>
</header>
<div class="entry-content">
<div id="pl-156">
<div id="pg-156-0" class="panel-grid">
<div id="pgc-156-0-0" class="panel-grid-cell">
<div id="panel-156-0-0-0" class="panel widget widget_black-studio-tinymce panel-first-child panel-last-child">
<div class="panel-widget-style">
<div class="textwidget">
<p>Opgericht 5 mei 1945 door Leendert Alfred Liesdek (wijlen), Bevrijdingsdag van Nederland. Vandaar de naam. Immers Suriname was toen deel van het Koninkrijk. Gestart als eenmanszaak met schoenreparatie en vervaardiging van maat- en semi-orthopedisch schoeisel, groeide onze vlag en werd het assortiment uitgebreid. &nbsp;<a href="http://onzevlag.com/over-ons/onze-geschiedenis/">Meer weten &nbsp;? click hier</a>.</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></aside>	</div>
		<div class="footer-widget-2 grid-parent grid-33 tablet-grid-50 mobile-grid-100">
		<aside id="black-studio-tinymce-7" class="widget inner-padding widget_black_studio_tinymce"><h2 class="widget-title">Parkeren. Click op de foto om te vergroten.</h2><div class="textwidget"><p><a href="/wp-content/uploads/2015/02/parkeren.jpg"><img class="aligncenter  wp-image-1330" src="http://onzevlag.com/wp-content/uploads/2015/02/parkeren-300x289.jpg" alt="parkeren" width="241" height="232"></a></p>
</div></aside><aside id="black-studio-tinymce-9" class="widget inner-padding widget_black_studio_tinymce"><h2 class="widget-title">De Winkel.</h2><div class="textwidget"><p>Click op onderstaande foto voor enkele indrukken van onze winkel.</p>
<p><a title="De Winkel" href="/over-ons/de-winkel/" target="_blank"><img class="aligncenter  wp-image-1068" src="http://onzevlag.com/wp-content/uploads/2015/01/gelijke-rechten_Fotor-300x172.jpg" alt="gelijke rechten_Fotor" width="321" height="184"></a></p>
</div></aside>	</div>
		<div class="footer-widget-3 grid-parent grid-33 tablet-grid-50 mobile-grid-100">
		<aside id="text-4" class="widget inner-padding widget_text"><h2 class="widget-title">ONZE VLAG N.V.</h2>			<div class="textwidget"><p>Dr. S. Redmondstraat 38<br>
Paramaribo - Suriname<br>
P.O.Box 1829<br>
Tel : (597) 420760<br>
Kamer van Koophandel 1736<br>
<a href="mailto:info@onzevlag.com"> info@onzevlag.com</a><br>
<a href="http://www.facebook.com/onzevlagnv">www.facebook.com/onzevlagnv</a></p>
</div>
		</aside><aside id="black-studio-tinymce-8" class="widget inner-padding widget_black_studio_tinymce"><h2 class="widget-title">Info.</h2><div class="textwidget"><p>Click "onze info" &nbsp;voor :<br>
veel gestelde vragen en algemene informatie.</p>
<p><a title="Veel gestelde vragen" href="/veel-gestelde-vragen/" target="_blank"><img class="  wp-image-1090 alignleft" src="http://onzevlag.com/wp-content/uploads/2015/02/onze-info-300x225.jpg" alt="onze info" width="448" height="336"></a></p>
</div></aside>	</div>
						</div>
				</div>
			</div>
					<footer class="site-info" itemtype="https://schema.org/WPFooter" itemscope="">
			<div class="inside-site-info grid-container grid-parent">
								<div class="copyright-bar">
					<span class="copyright">© 2021 Onze Vlag N.V.</span> • Gebouwd met <a href="https://generatepress.com" itemprop="url">GeneratePress</a>				</div>
			</div>
		</footer>
		</div>

<!-- ngg_resource_manager_marker --><!--[if lte IE 11]>
<script src='/wp-content/themes/generatepress/assets/js/classList.min.js?ver=3.0.3' id='generate-classlist-js'></script>
<![endif]-->
<script id="generate-main-js-extra">
var generatepressMenu = {"toggleOpenedSubMenus":"1","openSubMenuLabel":"Open het sub-menu","closeSubMenuLabel":"Sub-menu sluiten"};
</script>
<script src="http://onzevlag.com/wp-content/themes/generatepress/assets/js/main.min.js?ver=3.0.3" id="generate-main-js"></script>
<script id="generate-navigation-search-js-extra">
var generatepressNavSearch = {"open":"Open zoekbalk","close":"Sluit zoekbalk"};
</script>
<script src="http://onzevlag.com/wp-content/themes/generatepress/assets/js/navigation-search.min.js?ver=3.0.3" id="generate-navigation-search-js"></script>
<script src="http://onzevlag.com/wp-includes/js/wp-embed.min.js?ver=5.8.1" id="wp-embed-js"></script>



</body></html>
